#moveToLeftFrame {
    border-top: 12px solid transparent;
	border-right: 24px solid rgb(21, 21, 23);
	border-bottom: 12px solid transparent;
}

#moveToRightFrame {
    border-top: 12px solid transparent;
	border-left: 24px solid rgb(21, 21, 23);
	border-bottom: 12px solid transparent;
}

#watchLists:hover {
    overflow-x: auto;
}

#positivePrice, #positiveGrowth {
    color: rgb(19, 176, 19);
}

#negativePrice, #negativeGrowth {
    color: rgb(230, 15, 15);
}

#buy {
    color: rgb(35, 137, 35);
    border: 1.5px solid rgb(35, 137, 35);
}

#buy:hover {
    color: white;
    background-color: rgb(35, 137, 35);
}

#sell {
    color: rgb(228, 50, 50);
    border: 1.5px solid rgb(228, 50, 50);
}

#sell:hover {
    color: white;
    background-color: rgb(228, 50, 50);
}

::-webkit-scrollbar {
    width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
    background: #dedcdc; 
}

::-webkit-scrollbar-thumb {
    background: #949191; 
    height: 3px;
}