#stockExchangesStatsSection, #editWatchListNameDiv, #chosenWatchList, #currentWatchListInformation {
    background-color: #ebe9e9;
}

#chosenWatchList, #watchList:hover {
    border: 2px solid rgb(33, 125, 237);
    background-color: rgb(33, 125, 237);
    color: white;
}

#watchList {
    border: 2px solid rgb(33, 125, 237);
    color: rgb(33, 125, 237);
}

#editWatchListNameDiv {
    border: 1px solid black;
}

#watchLists:hover {
    overflow-x: auto;
}

#editWatchListNameButton:hover, #addWatchListButton:hover, #deleteWatchListButton:hover, #addScripButton:hover, #delete:hover, #tick:hover, #cross:hover {
    border-bottom: 3px solid rgb(33, 125, 237);
}

#currentWatchListStocksNumber {
    background-color: white;
}

::-webkit-scrollbar {
    width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
    background: #dedcdc; 
}

::-webkit-scrollbar-thumb {
    background: #949191; 
    height: 3px;
}